<h2>Specify payee's information</h2>
<form class="form-horizontal">

    <div {{bind-attr class=":form-group errorMessages.firstNameValue:has-error"}}>
        <label for="firstname" class="col-sm-3 control-label">Specify first name</label>
        <div class="col-sm-9">
            {{input placeholder="Name" id ="firstname" value=firstNameValue class="form-control" tabindex="1"}}
            <div class="error-message">
                {{#if errorMessages.firstNameValue}}
                    {{errorMessages.firstNameValue}}
                {{/if}}
            </div>
        </div>
    </div>

    <div {{bind-attr class=":form-group errorMessages.secondNameValue:has-error"}}>
        <label for="secondname" class="col-sm-3 control-label">Specify second name</label>
        <div class="col-sm-9">
            {{input placeholder="Surname" id ="secondname" value=secondNameValue class="form-control" tabindex="2"}}
            <div class="error-message">
                {{#if errorMessages.secondNameValue}}
                    {{errorMessages.secondNameValue}}
                {{/if}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="bank" class="col-sm-3 control-label">Choose bank</label>
        <div class="col-sm-9">
            {{view 'select' id ="bank" content=banks optionValuePath="content.id" class= "form-control" optionLabelPath="content.name" value=bankSelectValue tabindex="3"}}
        </div>
    </div>

    <div {{bind-attr class=":form-group errorMessages.IBANValue:has-error"}}>
        <label for="iban" class="col-sm-3 control-label">Specify IBAN</label>
        <div class="col-sm-9">
            {{input placeholder="IBAN" id ="iban" value=IBANValue class="form-control" tabindex="4"}}
            <div class="error-message">
                {{#if errorMessages.IBANValue}}
                    {{errorMessages.IBANValue}}
                {{/if}}
            </div>
        </div>
    </div>
</form>
