<h2>Specify payee's information</h2>
<form>
    {{log errorMessages}}
    {{input placeholder="First Name" value=firstNameValue}}
    {{#if errorMessages.firstNameValue}}
        {{errorMessages.firstNameValue}}
    {{/if}}
    {{input placeholder="Surname" value=secondNameValue}}
    {{#if errorMessages.secondNameValue}}
        {{errorMessages.secondNameValue}}
    {{/if}}
    {{view 'select' content=banks optionValuePath="content.id" optionLabelPath="content.name" value=bankSelectValue}}
    {{input placeholder="IBAN" value=IBANValue}}
    {{#if errorMessages.IBANValue}}
        {{errorMessages.IBANValue}}
    {{/if}}
</form>
