<div class="row payee-profile">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2>{{model.name}}</h2>
        <div class="row">
            <div class="col-xs-12">
                <h5>Bank: {{model.bank.name}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>IBAN: {{model.IBAN}}</h5>
            </div>
        </div>

        {{#if isEditing}}
            {{partial 'payees/edit-payee'}}
            <div class="submit">
                <a {{action 'finishEditing'}} class="btn btn-lg btn-primary">Save payee</a>
            </div>
        {{else}}
            <div class="submit">
                <a {{action 'startEditing'}} class="btn btn-lg btn-primary">Edit payee</a>
            </div>
        {{/if}}


    </div>
</div>
{{#unless isEditing}}
    {{render 'payments.index' payments}}
{{/unless}}